@import "./../../../variables";

.journey-card-body {
  background-color: $card-color;
  border: none;
  padding: 3em;
  margin-bottom: 0.5em;
}

.timeline-heading {
    color: white;
}

.timeline-desc {
    color: $font-desc;
}

.journey-dot {
    font-size: 1.1rem;
    color: white;
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;
}

.timeline ul {
    list-style-type: none;
}

.timeline ul li {
    margin-bottom:0.5em;
    position: relative;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: $font-desc;
    border-radius: 50%;
    outline-color: $card-color;
    outline: 1em solid  $card-color;
    top: 0;
    left: -2.5em;
}
