@import "./../../../variables";

.s-card-body {
  height: 22em;
  background-color: #202022;
  border: none;
  transition: transform 0.2s;
}

.skill-a {
  text-decoration: none;
}

.s-card-body {
  padding: 2em;
}

.s-icon {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.s-heading {
  margin-top: 0.7em;
  color: white;
  text-align: center;
  font-weight: 700;
}

.ss-tag {
  margin-top: 1em;
  text-align: center;
}

.s-desc {
  color: $font-desc;
  margin-top: 1.3em;
  text-align: center;
  margin-bottom: 0;
}

.card-content-holder {
  margin-top: 2em;
}

.badge-skill {
  background-color: #727273;
  bottom: 5em;
  color: white;
  padding: 0.5em;
  font-size: 0.8rem;
}

.s-body:hover .s-card-body {
  opacity: 0.5;
}

.s-body:hover .s-card-body:hover {
  opacity: 1;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
