$font-stack: "Mulish", sans-serif;
$main-background:#151515;
$font-heading: white;
$font-desc: #949495;
$hero-font-size: 3.5rem;
$card-color : #202022;
$font-source-san: "Source Sans Pro", sans-serif;
$badge-green:#71d99e;